gradio==5.50.0
gradio_client
fastapi
uvicorn[standard]
starlette
python-multipart
pydantic
pandas
opencv-python-headless
numpy
openai
pillow
ffmpy
pydub
markdown-it-py
mdurl
httpx
requests
tqdm
python-dateutil
PyYAML
watchfiles
