apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ include "gradio-vlm-chart.name" . }}-shared-pv
  labels:
    {{- include "gradio-vlm-chart.labels" . | nindent 4 }}
spec:
  accessModes:
  - ReadOnlyMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: nfs-csi
  volumeMode: Filesystem
  {{- $sourcePV := lookup "v1" "PersistentVolume" "" "ezpresto-shared-pv" }}
  {{- if $sourcePV }}
  # Dynamically copied from ezpresto-shared-pv
  capacity:
    {{- toYaml $sourcePV.spec.capacity | nindent 4 }}
  csi:
    {{- toYaml $sourcePV.spec.csi | nindent 4 }}
  mountOptions:
    {{- toYaml $sourcePV.spec.mountOptions | nindent 4 }}
  {{- end }}
